# Fire Calls Average Duration

Data obtained from Open Baton Rouge for Fire Incidents in Baton Rouge

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#Opening the Fire Incidents data set to obtain the duration of fire incidents
fire = pd.read_csv("Baton_Rouge_Fire_Incidents.csv")
fire.head()

<ipython-input-2-4f0c388e839d>:1: DtypeWarning: Columns (10,14,16,17,18,20,38,39,42) have mixed types. Specify dtype option on import or set low_memory=False.
  fire = pd.read_csv("Baton_Rouge_Fire_Incidents.csv")

,INCIDENT NUMBER,EXPOSURE NUMBER,DISPATCH DATE,DISPATCH TIME,INCIDENT TYPE,INCIDENT DESCRIPTION,STREET NUMBER,STREET PREFIX,STREET NAME,STREET TYPE,...,RESCUE PERSONNEL,OTHER APPARATUS,OTHER PERSONNEL,CONTROL DATE,CONTROL TIME,CLEAR DATE,CLEAR TIME,CAUSE OF IGNITION,CAUSE OF IGNITION DESCRIPTION,GEOLOCATION
0,22-0012199,0,04/30/2022,08:21:25,311.0,"Medical assist, assist EMS crew",NaN,NaN,NaN,NaN,...,0,0,0,NaN,NaN,04/30/2022,08:42:53,NaN,NaN,NaN
1,22-0021811,0,07/31/2022,19:33:10,311.0,"Medical assist, assist EMS crew",NaN,NaN,NaN,NaN,...,0,0,0,NaN,NaN,07/31/2022,19:43:20,NaN,NaN,NaN
2,22-0021849,0,08/01/2022,08:32:22,320.0,"Emergency medical service, other",NaN,NaN,NaN,NaN,...,0,0,0,NaN,NaN,08/01/2022,08:53:01,NaN,NaN,NaN
3,21-0002810,0,01/29/2021,19:40:17,320.0,"Emergency medical service, other",NaN,NaN,NaN,NaN,...,0,0,0,NaN,NaN,01/29/2021,19:55:11,NaN,NaN,NaN
4,21-0002799,0,01/29/2021,17:41:47,320.0,"Emergency medical service, other",NaN,NaN,NaN,NaN,...,0,0,0,NaN,NaN,01/29/2021,18:05:22,NaN,NaN,NaN

In [ ]:
fire.columns

Index(['INCIDENT NUMBER', 'EXPOSURE NUMBER', 'DISPATCH DATE', 'DISPATCH TIME',
       'INCIDENT TYPE', 'INCIDENT DESCRIPTION', 'STREET NUMBER',
       'STREET PREFIX', 'STREET NAME', 'STREET TYPE', 'STREET SUFFIX',
       'FORMATTED STREET', 'CITY', 'STATE', 'ZIP CODE', 'APARTMENT',
       'CROSS STREET PREFIX', 'CROSS STREET NAME', 'CROSS STREET TYPE',
       'CROSS STREET SUFFIX', 'RURAL', 'PROPERTY LOSS', 'CONTENTS LOSS',
       'FIRE SERVICE FATALITY', 'FIRE SERVICE INJURY', 'CIVILIAN FATALITY',
       'CIVILIAN INJURY', 'PROPERTY VALUE', 'CONTENTS VALUE', 'ALARMS',
       'SUPPRESSION APPARATUS', 'SUPPRESSION PERSONNEL', 'EMS APPARATUS',
       'EMS PERSONNEL', 'RESCUE APPARATUS', 'RESCUE PERSONNEL',
       'OTHER APPARATUS', 'OTHER PERSONNEL', 'CONTROL DATE', 'CONTROL TIME',
       'CLEAR DATE', 'CLEAR TIME', 'CAUSE OF IGNITION',
       'CAUSE OF IGNITION DESCRIPTION ', 'GEOLOCATION'],
      dtype='object')

In [ ]:
#Filtering only useful dispatch dates and times for Fire Incidents
columns = ['DISPATCH DATE', 'DISPATCH TIME', 'CONTROL DATE', 'CONTROL TIME', 'CLEAR DATE', 'CLEAR TIME']
fire[columns] = fire[columns].apply(pd.to_datetime)
fire

,INCIDENT NUMBER,EXPOSURE NUMBER,DISPATCH DATE,DISPATCH TIME,INCIDENT TYPE,INCIDENT DESCRIPTION,STREET NUMBER,STREET PREFIX,STREET NAME,STREET TYPE,...,RESCUE PERSONNEL,OTHER APPARATUS,OTHER PERSONNEL,CONTROL DATE,CONTROL TIME,CLEAR DATE,CLEAR TIME,CAUSE OF IGNITION,CAUSE OF IGNITION DESCRIPTION,GEOLOCATION
0,22-0012199,0,2022-04-30,2023-06-07 08:21:25,311.0,"Medical assist, assist EMS crew",NaN,NaN,NaN,NaN,...,0,0,0,NaT,NaT,2022-04-30,2023-06-07 08:42:53,NaN,NaN,NaN
1,22-0021811,0,2022-07-31,2023-06-07 19:33:10,311.0,"Medical assist, assist EMS crew",NaN,NaN,NaN,NaN,...,0,0,0,NaT,NaT,2022-07-31,2023-06-07 19:43:20,NaN,NaN,NaN
2,22-0021849,0,2022-08-01,2023-06-07 08:32:22,320.0,"Emergency medical service, other",NaN,NaN,NaN,NaN,...,0,0,0,NaT,NaT,2022-08-01,2023-06-07 08:53:01,NaN,NaN,NaN
3,21-0002810,0,2021-01-29,2023-06-07 19:40:17,320.0,"Emergency medical service, other",NaN,NaN,NaN,NaN,...,0,0,0,NaT,NaT,2021-01-29,2023-06-07 19:55:11,NaN,NaN,NaN
4,21-0002799,0,2021-01-29,2023-06-07 17:41:47,320.0,"Emergency medical service, other",NaN,NaN,NaN,NaN,...,0,0,0,NaT,NaT,2021-01-29,2023-06-07 18:05:22,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377368,23-0011803,0,2023-05-17,2023-06-07 20:24:33,311.0,"Medical assist, assist EMS crew",NaN,NaN,NaN,NaN,...,0,0,0,NaT,NaT,2023-05-17,2023-06-07 20:42:04,NaN,NaN,NaN
377369,23-0011651,0,2023-05-16,2023-06-07 05:38:41,600.0,"Good intent call, Other",8940,NaN,GREENWELL SPRINGS,RD,...,0,0,0,NaT,NaT,2023-05-16,2023-06-07 05:45:53,NaN,NaN,"8940 GREENWELL SPRINGS RD\nBATON ROUGE, LA 708..."
377370,23-0011771,0,2023-05-17,2023-06-07 12:24:43,745.0,"Alarm system activation, no fire - unintentional",3860,NaN,BATON ROUGE,AVE,...,0,0,0,NaT,NaT,2023-05-17,2023-06-07 12:29:44,NaN,NaN,"3860 BATON ROUGE AVE\nBATON ROUGE, LA 70805\n(..."
377371,23-0011796,0,2023-05-17,2023-06-07 17:27:16,321.0,"EMS call, excluding vehicle accident with injury",NaN,NaN,NaN,NaN,...,0,0,0,NaT,NaT,2023-05-17,2023-06-07 17:41:30,NaN,NaN,NaN
377372,23-0011743,0,2023-05-17,2023-06-07 07:07:53,311.0,"Medical assist, assist EMS crew",NaN,NaN,NaN,NaN,...,0,0,0,NaT,NaT,2023-05-17,2023-06-07 07:38:53,NaN,NaN,NaN

In [ ]:
#Obtaining the total duration of Fire Incidents by substracting the dispatch time from the clear time
fire['DURATION'] = fire['CLEAR TIME'] - fire['DISPATCH TIME']
fire.head()

,INCIDENT NUMBER,EXPOSURE NUMBER,DISPATCH DATE,DISPATCH TIME,INCIDENT TYPE,INCIDENT DESCRIPTION,STREET NUMBER,STREET PREFIX,STREET NAME,STREET TYPE,...,OTHER APPARATUS,OTHER PERSONNEL,CONTROL DATE,CONTROL TIME,CLEAR DATE,CLEAR TIME,CAUSE OF IGNITION,CAUSE OF IGNITION DESCRIPTION,GEOLOCATION,DURATION
0,22-0012199,0,2022-04-30,2023-06-07 08:21:25,311.0,"Medical assist, assist EMS crew",NaN,NaN,NaN,NaN,...,0,0,NaT,NaT,2022-04-30,2023-06-07 08:42:53,NaN,NaN,NaN,0 days 00:21:28
1,22-0021811,0,2022-07-31,2023-06-07 19:33:10,311.0,"Medical assist, assist EMS crew",NaN,NaN,NaN,NaN,...,0,0,NaT,NaT,2022-07-31,2023-06-07 19:43:20,NaN,NaN,NaN,0 days 00:10:10
2,22-0021849,0,2022-08-01,2023-06-07 08:32:22,320.0,"Emergency medical service, other",NaN,NaN,NaN,NaN,...,0,0,NaT,NaT,2022-08-01,2023-06-07 08:53:01,NaN,NaN,NaN,0 days 00:20:39
3,21-0002810,0,2021-01-29,2023-06-07 19:40:17,320.0,"Emergency medical service, other",NaN,NaN,NaN,NaN,...,0,0,NaT,NaT,2021-01-29,2023-06-07 19:55:11,NaN,NaN,NaN,0 days 00:14:54
4,21-0002799,0,2021-01-29,2023-06-07 17:41:47,320.0,"Emergency medical service, other",NaN,NaN,NaN,NaN,...,0,0,NaT,NaT,2021-01-29,2023-06-07 18:05:22,NaN,NaN,NaN,0 days 00:23:35

In [ ]:
#Converting the total duration to minutes
fire['DURATION'] = fire['DURATION'].dt.total_seconds() / 60
fire.head()

,INCIDENT NUMBER,EXPOSURE NUMBER,DISPATCH DATE,DISPATCH TIME,INCIDENT TYPE,INCIDENT DESCRIPTION,STREET NUMBER,STREET PREFIX,STREET NAME,STREET TYPE,...,OTHER APPARATUS,OTHER PERSONNEL,CONTROL DATE,CONTROL TIME,CLEAR DATE,CLEAR TIME,CAUSE OF IGNITION,CAUSE OF IGNITION DESCRIPTION,GEOLOCATION,DURATION
0,22-0012199,0,2022-04-30,2023-06-07 08:21:25,311.0,"Medical assist, assist EMS crew",NaN,NaN,NaN,NaN,...,0,0,NaT,NaT,2022-04-30,2023-06-07 08:42:53,NaN,NaN,NaN,21.466667
1,22-0021811,0,2022-07-31,2023-06-07 19:33:10,311.0,"Medical assist, assist EMS crew",NaN,NaN,NaN,NaN,...,0,0,NaT,NaT,2022-07-31,2023-06-07 19:43:20,NaN,NaN,NaN,10.166667
2,22-0021849,0,2022-08-01,2023-06-07 08:32:22,320.0,"Emergency medical service, other",NaN,NaN,NaN,NaN,...,0,0,NaT,NaT,2022-08-01,2023-06-07 08:53:01,NaN,NaN,NaN,20.650000
3,21-0002810,0,2021-01-29,2023-06-07 19:40:17,320.0,"Emergency medical service, other",NaN,NaN,NaN,NaN,...,0,0,NaT,NaT,2021-01-29,2023-06-07 19:55:11,NaN,NaN,NaN,14.900000
4,21-0002799,0,2021-01-29,2023-06-07 17:41:47,320.0,"Emergency medical service, other",NaN,NaN,NaN,NaN,...,0,0,NaT,NaT,2021-01-29,2023-06-07 18:05:22,NaN,NaN,NaN,23.583333

In [ ]:
fire['DURATION'].min()

-1437.6166666666666

In [ ]:
fire['DURATION'].max()

1439.9833333333333

In [ ]:
#Filtering the duration of fire incidents, considering only incidents that lasted more than 10 minutes
fire = fire[fire['DURATION'] > 10]
fire

,INCIDENT NUMBER,EXPOSURE NUMBER,DISPATCH DATE,DISPATCH TIME,INCIDENT TYPE,INCIDENT DESCRIPTION,STREET NUMBER,STREET PREFIX,STREET NAME,STREET TYPE,...,OTHER APPARATUS,OTHER PERSONNEL,CONTROL DATE,CONTROL TIME,CLEAR DATE,CLEAR TIME,CAUSE OF IGNITION,CAUSE OF IGNITION DESCRIPTION,GEOLOCATION,DURATION
0,22-0012199,0,2022-04-30,2023-06-07 08:21:25,311.0,"Medical assist, assist EMS crew",NaN,NaN,NaN,NaN,...,0,0,NaT,NaT,2022-04-30,2023-06-07 08:42:53,NaN,NaN,NaN,21.466667
1,22-0021811,0,2022-07-31,2023-06-07 19:33:10,311.0,"Medical assist, assist EMS crew",NaN,NaN,NaN,NaN,...,0,0,NaT,NaT,2022-07-31,2023-06-07 19:43:20,NaN,NaN,NaN,10.166667
2,22-0021849,0,2022-08-01,2023-06-07 08:32:22,320.0,"Emergency medical service, other",NaN,NaN,NaN,NaN,...,0,0,NaT,NaT,2022-08-01,2023-06-07 08:53:01,NaN,NaN,NaN,20.650000
3,21-0002810,0,2021-01-29,2023-06-07 19:40:17,320.0,"Emergency medical service, other",NaN,NaN,NaN,NaN,...,0,0,NaT,NaT,2021-01-29,2023-06-07 19:55:11,NaN,NaN,NaN,14.900000
4,21-0002799,0,2021-01-29,2023-06-07 17:41:47,320.0,"Emergency medical service, other",NaN,NaN,NaN,NaN,...,0,0,NaT,NaT,2021-01-29,2023-06-07 18:05:22,NaN,NaN,NaN,23.583333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377366,23-0011799,0,2023-05-17,2023-06-07 18:10:01,311.0,"Medical assist, assist EMS crew",NaN,NaN,NaN,NaN,...,0,0,NaT,NaT,2023-05-17,2023-06-07 18:21:59,NaN,NaN,NaN,11.966667
377367,23-0011742,0,2023-05-17,2023-06-07 06:50:26,553.0,Public service,1313,N,SHERWOOD FOREST,DR,...,1,0,NaT,NaT,2023-05-17,2023-06-07 07:08:51,NaN,NaN,"1313 N SHERWOOD FOREST DR\nBATON ROUGE, LA 708...",18.416667
377368,23-0011803,0,2023-05-17,2023-06-07 20:24:33,311.0,"Medical assist, assist EMS crew",NaN,NaN,NaN,NaN,...,0,0,NaT,NaT,2023-05-17,2023-06-07 20:42:04,NaN,NaN,NaN,17.516667
377371,23-0011796,0,2023-05-17,2023-06-07 17:27:16,321.0,"EMS call, excluding vehicle accident with injury",NaN,NaN,NaN,NaN,...,0,0,NaT,NaT,2023-05-17,2023-06-07 17:41:30,NaN,NaN,NaN,14.233333
377372,23-0011743,0,2023-05-17,2023-06-07 07:07:53,311.0,"Medical assist, assist EMS crew",NaN,NaN,NaN,NaN,...,0,0,NaT,NaT,2023-05-17,2023-06-07 07:38:53,NaN,NaN,NaN,31.000000

In [ ]:
#Obtaining the mean duration of Fire Incidents
fire['DURATION'].describe()

count    308819.000000
mean         60.618548
std         190.984693
min          10.016667
25%          14.100000
50%          18.283333
75%          25.000000
max        1439.983333
Name: DURATION, dtype: float64

For Fire Incidents, the duration value utilized for the analysis was the MEAN